<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
        {%- include social.html -%}
        <div class="flex" style="justify-content:flex-start;">
          <div id="cd572"></div>
          <div id="cd588" style="margin-left:10px;"></div>
        </div>
        <script>
          !function(c){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.onload=c,t.src="//lab.subinsb.com/projects/francium/cryptodonate/widget.js";var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}(function(){
            Fr.loadCD("cd572", {
              coin: "bitcoin",
              address: "3LyymFbU9zqSVWxMRB1tDcj5BuT4k7P7hr",
              buttonClass: "dark",
              dialogClass: "dark",
            });
          });
        </script>

        <script>
          !function(c){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.onload=c,t.src="//lab.subinsb.com/projects/francium/cryptodonate/widget.js";var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}(function(){
            Fr.loadCD("cd588", {
              coin: "monero",
              address: "4AfZrQ1kvq6dP5Gm1jFRHRHALGmCMR6nAP4KK5mgHt4VfbAY1XzS1jyYiBASTabNGiXXEf8mBMtZq9qQ6VrTJcJYVt1LzoD",
              buttonClass: "dark",
              dialogClass: "dark",
            });
          });
        </script>

      </div>

      {% assign nav_mid_index = site.data.nav.size | divided_by: 2 | ceil %}
      <div class="footer-col footer-col-2">
        <ul class="nav">
        {% for link in site.data.nav %}
          {% if forloop.index <= nav_mid_index %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="nav">
        {% for link in site.data.nav %}
          {% if forloop.index > nav_mid_index %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>

  </div>

</footer>
