.flex {
  display: flex;
  justify-content: space-between;
}

.rule {
  height: 2px;
  border: none;
  background: #ddd;
  &.reversed {
    background: #292929;
  }
}

.big {
  font-family: $title-font-family;
  font-size: 32px;
  line-height: 1.2;
  small {
    display: block;
    color: rgba(#fff, .5);
    font-size: 21px;
    margin-top: 1em;
  }
}

.caps {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
}

.fancy {
  font-family: $title-font-family;
  font-style: italic;
  font-size: 25px;
}

.illustration {
  display: inline-flex;
  align-items: center;
  line-height: 60px;
  margin-bottom: $spacing-unit * 2;
  letter-spacing: 10px;
  color: rgba(#fff, .5);
  font-size: 25px;
  span {
    font-size: 60px;
  }
}

.nav {
  list-style: none;
  margin-left: 0;
  text-align: center;
  line-height: 2;
  a {
    color: inherit;
    &:hover {
      color: $brand-color;
      text-decoration: none;
    }
  }
}

.toc {
  font-size: 25px;
  font-family: $title-font-family;

  li {
    display: flex;
    align-items: center;
    white-space: nowrap;
    &::before,
    &::after {
      content: "";
      flex: 1;
      border-bottom: 2px dotted #e7e7e7;
    }
    &::before {
      margin-right: 20px;
    }
    &::after {
      margin-left: 20px;
    }

    a {
      color: inherit;
      &:visited {
        color: #666;
      }
      &:hover {
        color: $brand-color;
      }
    }
  }
}

.section {
  padding: ($spacing-unit * 2) 0;
  text-align: center;
  &.alt {
    background: #f7f7f7;
  }

  h2 {
    @extend .caps;
    margin: 0 0 $spacing-unit;
  }
}

/**
 * Site header
 */
.site-header {
  padding-top: $spacing-unit * 1.5;
  font-size: 17px;
  line-height: 1;
  color: rgba(#fff, .5);

  // Positioning context for the mobile navigation icon
  position: relative;
  background: #111;

  hr {
    margin-top: $spacing-unit / 2;
  }
}

.site-title {
  flex: 1;

  &,
  &:visited {
    color: inherit;
  }
  &:hover {
    text-decoration: none;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: ($spacing-unit * 2) 0 ($spacing-unit * 1.5);
  font-size: 15px;
  background: #f7f7f7;

  .p-name {
    color: #222;
    font-weight: bold;
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  padding: ($spacing-unit * 3) 0;
  color: #fff;
  text-align: center;
  background: #111;

  .home & {
    padding: ($spacing-unit * 5) 0 ($spacing-unit * 4);
    .fancy {
      color: rgba(#fff, .5);
      margin-top: $spacing-unit / 2;
    }
  }

  a, span {
    color: inherit;
    color: rgba(#fff, .5);
  }
  a {
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  p {
    margin: 0;
  }
}

.post-title {
  margin: 0 0 ($spacing-unit / 2) 0;
  font-size: 60px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  padding: ($spacing-unit * 2) 0;
  color: #222;

  .wrapper > *:last-child {
    margin-bottom: 0;
  }

  h2 {
    font-size: 27px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.post-footer {
  text-align: center;
  padding: ($spacing-unit * 3) 0 0;
  background: #f7f7f7;

  p {
    margin: 0;
    color: #000;
  }

  h5 {
    margin: 0 0 ($spacing-unit / 2);
    font-family: $base-font-family;
    color: $brand-color;
  }
}

.post-continue {
  margin: ($spacing-unit * 3) 0 0;
  color: $grey-color;
  line-height: 60px;
  font-weight: 600;
  border: solid #e5e5e5;
  border-width: 1px 0;
  a {
    color: #222;
    &:hover {
      text-decoration: none;
      color: $brand-color;
    }
  }
}

.chapter-link {
  box-sizing: border-box;
  overflow: hidden;
  z-index: 999;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px;
  background: #f3f3f3;
  max-width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  transition: max-width .1s ease-out;

  strong {
    opacity: .5;
    flex: none;
    width: 50px;
    text-align: center;
    color: #000;
    transition: opacity .1s ease-out;
  }

  span {
    opacity: 0;
    transition: opacity .1s ease-out;
    white-space: nowrap;
    color: #000;
  }

  &:hover {
    max-width: 300px;
    text-decoration: none;
    background: #f0f0f0;
    span,
    strong {
      opacity: 1;
    }
  }

  &.prev {
    left: 10px;
    justify-content: flex-start;
    span {
      padding-right: 20px;
    }
  }
  &.next {
    right: 10px;
    justify-content: flex-end;
    span {
      padding-left: 20px;
    }
  }
}
