---
layout: default
---

{% if page.collection %}
  {% assign links = site[page.collection]  %}
{% endif %}

<!--
  From https://gist.github.com/budparr/3e637e575471401d01ec
-->

{% for link in links %}
  {% if link.title == page.title %}
      {% unless forloop.first %}
          {% assign prev = tmpprev %}
      {% endunless %}
      {% unless forloop.last %}
          {% assign next = links[forloop.index] %}
      {% endunless %}
  {% endif %}
  {% assign tmpprev = link %}
{% endfor %}

<article class="post">

  <header class="post-header">
    <div class="wrapper">
      <h1 class="post-title">{{ page.title | escape }}</h1>
      <p class="big">{{ page.intro }}</p>
    </div>
  </header>

  <div class="post-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  {% if page.takeaway %}
    <footer class="post-footer">
      <div class="wrapper">
        <h5 class="caps">Key takeaway</h5>
        <p class="big">{{ page.takeaway }}</p>

        {% if next %}
          <div class="post-continue">
            Next: <a href="{{ next.url}}">{{ next.title }} &rarr;</a>
          </div>
        {% endif %}
      </div>
    </footer>
  {% endif %}
</article>

{% if prev %}<a class="chapter-link prev" href="{{ prev.url}}"><strong>&larr;</strong><span>{{ prev.title }}</span></a>{% endif %}
{% if next %}<a class="chapter-link next" href="{{ next.url}}"><span>{{ next.title }}</span><strong>&rarr;</strong></a>{% endif %}