<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="{{ page.layout }}">

    {%- unless page.layout == 'home' -%}
      {%- include header.html -%}
    {%- endunless -%}

    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>

    {%- include footer.html -%}

    <!-- Fathom - simple website analytics -->
    <script>
    (function(f, a, t, h, o, m){
    a[h]=a[h]||function(){
    (a[h].q=a[h].q||[]).push(arguments)
    };
    o=f.createElement('script'),
    m=f.getElementsByTagName('script')[0];
    o.async=1; o.src=t; o.id='fathom-script';
    m.parentNode.insertBefore(o,m)
    })(document, window, '//accounts.usesfathom.com/tracker.js', 'fathom');
    fathom('trackPageview');
    </script>
    <!-- / Fathom -->

  </body>

</html>
