---
layout: default
---

<div class="home">
  <header class="post-header">
    <div class="wrapper">
      <div class="illustration">
        <span>💰</span>+<span>⏳</span>=<span>🏖</span>
      </div>
      <h1 class="post-title">{{ page.title | escape }}</h1>
      <p class="big">{{ page.intro }}</p>
      <p class="big fancy">by Matt Henderson</p>
    </div>
  </header>

  <div class="post-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  <div class="section alt">
    <div class="wrapper">
      <a name="toc"></a>
      <h2>Table of Contents</h2>

      <ol class="nav toc">
      {% for chapter in site.chapters %}
        <li><a href="{{chapter.url}}">{{ chapter.title }}</a></li>
      {% endfor %}
      </ol>
    </div>
  </div>

  <div class="section">
    <div class="wrapper">
      <a name="resources"></a>
      <h2>Resources</h2>
      <ul class="nav">
      {% for link in site.data.nav %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>

</div>
